<div id="component-wrapper">
  <div id="toolbar">
    <div>Automata Creator and Checker</div>
  </div>

  <div id="main">
    <div id="deck-1">
      <table *ngIf="automata !== undefined && automata.transitionStateDiagram !== undefined">
        <tr>
          <th>State</th>
          <th *ngFor="let symbol of automata.transitionStateDiagram.symbols">
            {{symbol}}
          </th>
        </tr>

        <tr *ngFor="let state of generateArray(automata.dfa.numOfStates); let i = index">
          <td [ngClass]="{'accept-state': isAcceptState(i.toString())}"><span *ngIf="i === 0">	&rarr; </span>{{i}}</td>
          <td *ngFor="let symbol of automata.transitionStateDiagram.symbols; let transitionIndex = index" [innerHTML]="getNextStateFor(i.toString(), symbol)">
            {{getNextStateFor(i.toString(), symbol)}}
          </td>
        </tr>
      </table>
    </div>


    <div id="deck-2">
      <div id="regexp-checker">
        <label for="regex">Enter Regular Expression to generate Finite automata</label>
        <input type="text" name="regex" id="regex" [(ngModel)]="regex" (ngModelChange)="regexInputChanged()">
        <label for="string-parse">Enter string to check if it is recognized by regular language</label>
        <textarea id="string-parse" [(ngModel)]="text" class="isRecognized"></textarea>
        <div *ngIf="recognizedByLanguage()" class="recognized">This is recognized by the automata</div>
        <div *ngIf="!recognizedByLanguage()" class="not-recognized">This is not recognized by the automata</div>
      </div>
      <div id="automata-display-panel">
        <div id="automata-toolbar">
          <a [class.selected]="this.selected === 'nfa'" (click)="setNfa()">Non-deterministic Finite Automata</a>
          <a [class.selected]="this.selected === 'dfa'" (click)="setDfa()">Deterministic Finite Automata</a>
        </div>
        <div id="automata-container">
          <template #messageContainer></template>
        </div>
      </div>
    </div>
  </div>
</div>
