#component-wrapper
  display: grid
  height: 100vh
  width: 100vm

  grid-template-rows: 25px 1fr

#toolbar
  background-color: darkseagreen
  display: inline-flex
  justify-content: flex-start
  align-items: center
  padding-left: 10px

#main
  display: grid
  grid-template-rows: repeat(2, 1fr)

#deck-1
  background-color: cyan

#deck-2
  display: grid
  grid-template-columns: minmax(150px, 250px) 1fr

  #regexp-checker
    display: inline-grid
    grid-gap: 10px
    padding: 20px
    grid-template-rows: 10px 20px 10px 50px
    background-color: lightcyan

    textarea:focus
      outline: none

    .recognized
      color: green

    .not-recognized
      color: red

  #automata-display-panel
    #automata-toolbar
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 20px
      justify-items: center
      align-items: center
      background-color: lightcyan

      a.selected
        text-decoration: underline
        color: #125699

      a:hover
        cursor: pointer
        text-decoration: underline

    #automata-container
      display: inline-flex
      justify-content: center
      align-content: center
      align-items: center
      justify-items: center
